<div class="details-page">

 <a routerLink="/admin/profiles" class="back-btn">
  {{ txt('← Back to Profiles', '← சுயவிவரங்களுக்கு திரும்பு') }}
</a>

<p *ngIf="isLoading">
  {{ txt('Loading profile...', 'சுயவிவரம் ஏற்றப்படுகிறது...') }}
</p>

<p *ngIf="!isLoading && !profile">
  {{ txt('Profile not found', 'சுயவிவரம் கிடைக்கவில்லை') }}
</p>
  <div class="profile-card" *ngIf="!isLoading && profile">

  <div class="top-section">

  <!-- LEFT -->

  <div class="media-section">

    <!-- MAIN IMAGE -->

    <img
      class="main-profile-image"
      [src]="profile.profile_image_url || 'assets/default-avatar.png'"
      alt="Profile">

    <!-- VIDEO -->

    <div
      *ngIf="profile.video_url"
      class="profile-video">

      <video
        [src]="profile.video_url"
        controls>
      </video>

    </div>

    <!-- ADDITIONAL IMAGES -->

    <div
      class="additional-images"
      *ngIf="profile.additional_image_urls?.length">

      <img
        *ngFor="let img of profile.additional_image_urls"
        [src]="img"
        alt="Additional Image">

    </div>

  </div>

  <!-- RIGHT -->

  <div class="top-info">

    <h2>
      {{ v(profile.full_name, profile.full_name_ta) }}
    </h2>

  <p>
  {{ profile.profile_code }}
</p>

<div class="viewed-profile-codes" *ngIf="profileViewList.length">
  <strong>Viewed Profile Codes :</strong>

  <span *ngFor="let item of profileViewList">
    {{ item.viewer?.profile_code || '-' }}
  </span>
</div>

    <span
      class="status"
      [class.approved]="profile.profile_status === 'Approved'"
      [class.pending]="profile.profile_status === 'Pending'"
      [class.rejected]="profile.profile_status === 'Rejected'"
      [class.blocked]="profile.profile_status === 'Blocked'"
      [class.review]="profile.profile_status === 'Under Review'">

      {{ statusText(profile.profile_status || 'Pending') }}

    </span>

    <div class="action-group">



<button
  class="pdf-btn"
  type="button"
  (click)="showPrintOptions = !showPrintOptions">
  Print
</button>

<div
  class="no-caste-row"
  *ngIf="profile.no_caste_preference">

  <span class="no-caste-badge">
    {{ txt('No Caste Restriction', 'ஜாதி தடை இல்லை') }}
  </span>

</div>
<div class="print-options" *ngIf="showPrintOptions">

  <button type="button" (click)="goToPrint(false, true)">
    with Address + Without Photo 
  </button>

  <button type="button" (click)="goToPrint(true, true)">
    with Address + With Photo 
  </button>

  <button type="button" (click)="goToPrint(false, false)">
    Without Address + Without Photo 
  </button>

  <button type="button" (click)="goToPrint(true, false)">
   Without Address + With Photo 
  </button>

</div>

    </div>

  </div>

</div>
<div class="profile-tabs">
  <button
    type="button"
    [class.active]="activeTab === 'profile'"
    (click)="activeTab = 'profile'">
    MY PROFILE
  </button>

  <button
    type="button"
    [class.active]="activeTab === 'other'"
    (click)="activeTab = 'other'">
    OTHER DETAILS
  </button>

  <button
    type="button"
    [class.active]="activeTab === 'package'"
    (click)="activeTab = 'package'">
    PACKAGE DETAILS
  </button>
  <button
  type="button"
  [class.active]="activeTab === 'views'"
  (click)="activeTab = 'views'">
  PROFILE VIEW DETAILS
</button>
</div>
<div class="two-side-layout">

 <div class="left-profile-side" *ngIf="activeTab === 'profile'">
    <div class="tab-title">My Profile</div>

      <div class="info-card">
       <h3>{{ txt('Basic Details', 'அடிப்படை விவரங்கள்') }}</h3>
<p>
  <strong>{{ txt('Gender', 'பாலினம்') }}:</strong>
  {{ v(genderText(profile.gender_text), profile.gender_text_ta) }}
</p>
       <p>
  <strong>{{ txt('City', 'நகரம்') }}:</strong>
 {{ masterText(profile.city_text, profile.city_text_ta) }}
</p>

<p>
  <strong>{{ txt('Religion', 'மதம்') }}:</strong>
{{ masterText(profile.religion_text, profile.religion_text_ta) }}
</p>

<p>
  <strong>{{ txt('Caste', 'சாதி') }}:</strong>
{{ masterText(profile.caste_text, profile.caste_text_ta) }}
</p>

<p>
  <strong>{{ txt('Education', 'கல்வி') }}:</strong>
  {{ v(profile.education_text, profile.education_text_ta) }}
</p>

<p>
  <strong>{{ txt('Occupation', 'தொழில்') }}:</strong>
 {{ v(profile.occupation_text, profile.occupation_text_ta) }}
</p>

<p>
  <strong>{{ txt('Color', 'நிறம்') }}:</strong>
 {{ masterText(profile.color_text, profile.color_text_ta) }}
</p>

<p>
  <strong>{{ txt('Sub Caste', 'உட்பிரிவு') }}:</strong>
  {{ v(profile.sub_caste_text, profile.sub_caste_text_ta) }}
</p>

<p>
  <strong>{{ txt('Marital Status', 'திருமண நிலை') }}:</strong>
 {{ masterText(profile.marital_status_text, profile.marital_status_text_ta) }}
</p>
<p>
  <strong>{{ txt('Age', 'வயது') }}:</strong>
  {{ profile.age || '-' }}
</p>

<p>
  <strong>{{ txt('Date of Birth', 'பிறந்த தேதி') }}:</strong>
  {{ profile.dob || '-' }}
</p>

<p>
  <strong>{{ txt('Height', 'உயரம்') }}:</strong>
  {{ v(profile.height_text, profile.height_text_ta) }}
</p>

<p>
  <strong>{{ txt('Weight', 'எடை') }}:</strong>
  {{ v(profile.weight_text, profile.weight_text_ta) }}
</p>


<p *ngIf="profile.second_marriage_reason">
  <strong>{{ txt('Marriage Type', 'இரண்டாம் திருமண காரணம்') }}:</strong>
  {{ profile.second_marriage_reason }}
</p>

<p>
  <strong>{{ txt('Children', 'குழந்தைகள்') }}:</strong>
{{ yesNo(profile.children_status) }}
</p>

<p *ngIf="profile.children_details">
  <strong>{{ txt('Children Details', 'குழந்தைகள் விவரம்') }}:</strong>
  {{ v(profile.children_details, profile.children_details_ta) }}
</p>

<p>
  <strong>{{ txt('Kalappu Thirumanam', 'கலப்பு திருமணம்') }}:</strong>
 {{ yesNo(profile.kalappu_thirumanam) }}
</p>

<p *ngIf="profile.kalappu_thirumanam === 'Yes'">
  <strong>{{ txt('Kalappu Details', 'கலப்பு திருமணம் விவரம்') }}:</strong>
  {{ v(profile.kalappu_thirumanam_details, profile.kalappu_thirumanam_details_ta) }}
</p>

<p>
  <strong>{{ txt('Handicap', 'மாற்றுத்திறனாளி') }}:</strong>
{{ yesNo(profile.handicap_status) }}
</p>

<p *ngIf="profile.handicap_status === 'Yes'">
  <strong>{{ txt('Handicap Details', 'விவரம்') }}:</strong>
  {{ v(profile.handicap_details, profile.handicap_details_ta) }}
</p>
<p *ngIf="profile.children_status">
  <strong>{{ txt('Children', 'குழந்தைகள்') }}:</strong>
  {{ txt('Yes', 'ஆம்') }}
</p>

<p *ngIf="profile.children_details">
  <strong>{{ txt('Children Details', 'குழந்தைகள் விவரம்') }}:</strong>
  {{ v(profile.children_details, profile.children_details_ta) }}
</p>
      </div>



      <div class="info-card">
       <h3>{{ txt('Family', 'குடும்பம்') }}</h3>

<p>
  <strong>{{ txt('Father', 'தந்தை') }}:</strong>
 {{ v(profile.father_name, profile.father_name_ta) }}
</p>

<p>
  <strong>{{ txt('Mother', 'தாய்') }}:</strong>
  {{ v(profile.mother_name, profile.mother_name_ta) }}
</p>

<p>
  <strong>{{ txt('Family Status', 'குடும்ப நிலை') }}:</strong>
 {{ masterText(profile.family_status, profile.family_status_ta) }}
</p>
<p>
  <strong>{{ txt('Father Occupation', 'தந்தை தொழில்') }}:</strong>
  {{ v(profile.father_occupation, profile.father_occupation_ta) }}
</p>

<p>
  <strong>{{ txt('Mother Occupation', 'தாய் தொழில்') }}:</strong>
  {{ v(profile.mother_occupation, profile.mother_occupation_ta) }}
</p>

<p>
  <strong>{{ txt('Siblings', 'உடன்பிறப்புகள்') }}:</strong>
  {{ v(profile.siblings_text, profile.siblings_text_ta) }}
</p>
<p>
  <strong>{{ txt('Married Brothers', 'திருமணமான சகோதரர்கள்') }}:</strong>
  {{ profile.married_brothers || '0' }}
</p>

<p>
  <strong>{{ txt('Unmarried Brothers', 'திருமணம் ஆகாத சகோதரர்கள்') }}:</strong>
  {{ profile.unmarried_brothers || '0' }}
</p>

<p>
  <strong>{{ txt('Married Sisters', 'திருமணமான சகோதரிகள்') }}:</strong>
  {{ profile.married_sisters || '0' }}
</p>

<p>
  <strong>{{ txt('Unmarried Sisters', 'திருமணம் ஆகாத சகோதரிகள்') }}:</strong>
  {{ profile.unmarried_sisters || '0' }}
</p>

<p>
  <strong>{{ txt('Kudumba Nilai', 'குடும்ப நிலை') }}:</strong>
  {{ masterText(profile.kudumba_nilai, profile.kudumba_nilai_ta) }}
</p>

<p>
  <strong>{{ txt('Sothukal', 'சொத்துகள்') }}:</strong>
  {{ v(profile.sothukal, profile.sothukal_ta) }}
</p>

<p>
  <strong>{{ txt('Kuladeivam', 'குலதெய்வம்') }}:</strong>
  {{ v(profile.kuladeivam, profile.kuladeivam_ta) }}
</p>

<p>
  <strong>{{ txt('Poorvegam', 'பூர்வீகம்') }}:</strong>
  {{ v(profile.poorvegam, profile.poorvegam_ta) }}
</p>

<p>
  <strong>{{ txt('Iruppidam', 'இருப்பிடம்') }}:</strong>
  {{ v(profile.iruppidam, profile.iruppidam_ta) }}
</p>

      </div>

     <div class="info-card">
<h3>{{ txt('Contact Details', 'தொடர்பு விவரங்கள்') }}</h3>

<p>
  <strong>{{ txt('Mobile', 'கைபேசி') }}:</strong>
  {{ profile.mobile }}
</p>

<p>
  <strong>{{ txt('Additional Mobile', 'கூடுதல் கைபேசி') }}:</strong>
  {{ profile.additional_mobile }}
</p>

<p>
  <strong>{{ txt('Email', 'மின்னஞ்சல்') }}:</strong>
  {{ profile.email }}
</p>
</div>

<div class="info-card">
<h3>{{ txt('Education & Career', 'கல்வி & தொழில்') }}</h3>

<p>
  <strong>{{ txt('Education', 'கல்வி') }}:</strong>
 {{ v(profile.education_text, profile.education_text_ta) }}
</p>

<p>
  <strong>{{ txt('Occupation', 'தொழில்') }}:</strong>
  {{ v(profile.occupation_text, profile.occupation_text_ta) }}
</p>
<p>
  <strong>{{ txt('Work Place', 'பணியிடம்') }}:</strong>
  {{ v(profile.work_place, profile.work_place_ta) }}
</p>


<p>
  <strong>{{ txt('Salary', 'சம்பளம்') }}:</strong>
{{ formatSalary() }}
</p>

<p>
  <strong>{{ txt('Company', 'நிறுவனம்') }}:</strong>
 {{ v(profile.company_name, profile.company_name_ta) }}
</p>
</div>

  </div>

<div class="right-profile-side" *ngIf="activeTab === 'other'">
    <div class="tab-title">Other Details</div>

<div class="info-card">
<h3>{{ txt('Address Details', 'முகவரி விவரங்கள்') }}</h3>

<p>
  <strong>{{ txt('City', 'நகரம்') }}:</strong>
 {{ masterText(profile.city_text, profile.city_text_ta) }}
</p>

<p>
  <strong>{{ txt('State', 'மாநிலம்') }}:</strong>
 {{ v(profile.state_text, profile.state_text_ta) }}

</p>

<p>
  <strong>{{ txt('Country', 'நாடு') }}:</strong>
 {{ v(profile.country_text, profile.country_text_ta) }}

</p>

<p>
  <strong>{{ txt('Address', 'முகவரி') }}:</strong>
 {{ v(profile.address_line, profile.address_line_ta) }}
</p>
</div>
     <div class="info-card">
 <h3>{{ txt('Horoscope', 'ஜாதகம்') }}</h3>

<p>
  <strong>{{ txt('Rasi', 'ராசி') }}:</strong>
 {{ v(profile.rasi_text, profile.rasi_text_ta) }}

</p>

<p>
  <strong>{{ txt('Nakshatra', 'நட்சத்திரம்') }}:</strong>
 {{ v(profile.nakshatra_text, profile.nakshatra_text_ta) }}

</p>

<p>
  <strong>{{ txt('Lagnam', 'லக்னம்') }}:</strong>
 {{ v(profile.lagnam_text, profile.lagnam_text_ta) }}

</p>

<p>
 <strong>{{ txt('Dhosham', 'தோஷம்') }}:</strong>
{{ dhoshamText(profile.dhosham_text) }}
</p>

<p>
  <strong>{{ txt('Birth Time', 'பிறந்த நேரம்') }}:</strong>
  {{ profile.birth_time || '-' }}
</p>

<p>
  <strong>{{ txt('Birth Place', 'பிறந்த இடம்') }}:</strong>
  {{ v(profile.birth_place, profile.birth_place_ta) }}
</p>

<p>
  <strong>{{ txt('Thisai', 'திசை') }}:</strong>
  {{ v(profile.thisai, profile.thisai_ta) }}
</p>

<p>
  <strong>{{ txt('Thisai Iruppu', 'திசை இருப்பு') }}:</strong>
  {{ v(profile.thisai_iruppu, profile.thisai_iruppu_ta) }}
</p>

<p>
  <strong>{{ txt('Paatham', 'பாதம்') }}:</strong>
  {{ v(profile.paatham, profile.paatham_ta) }}
</p>

<p>
  <strong>{{ txt('Dhisai Balance', 'திசை இருப்பு காலம்') }}:</strong>
  {{ profile.thisai_year || '0' }} வ
  {{ profile.thisai_month || '0' }} மா
  {{ profile.thisai_day || '0' }} நா
</p>

<div class="horoscope-chart-wrapper">

  <!-- RASI -->

  <div class="astro-chart">

    <!-- TOP -->

    <div class="chart-row">

      <div class="chart-cell">
        {{ getRasiChart()[0] || '' }}
      </div>

      <div class="chart-cell">
        {{ getRasiChart()[1] || '' }}
      </div>

      <div class="chart-cell">
        {{ getRasiChart()[2] || '' }}
      </div>

      <div class="chart-cell">
        {{ getRasiChart()[3] || '' }}
      </div>

    </div>

    <!-- MIDDLE -->

    <div class="chart-row">

      <div class="chart-cell side-cell">
        {{ getRasiChart()[4] || '' }}
      </div>

      <div class="chart-center">
        ராசி
      </div>

      <div class="chart-cell side-cell">
        {{ getRasiChart()[5] || '' }}
      </div>

    </div>

    <!-- BOTTOM -->

    <div class="chart-row">

      <div class="chart-cell">
        {{ getRasiChart()[6] || '' }}
      </div>

      <div class="chart-cell">
        {{ getRasiChart()[7] || '' }}
      </div>

      <div class="chart-cell">
        {{ getRasiChart()[8] || '' }}
      </div>

      <div class="chart-cell">
        {{ getRasiChart()[9] || '' }}
      </div>

    </div>

  </div>

  <!-- AMSAM -->

  <div class="astro-chart">

    <!-- TOP -->

    <div class="chart-row">

      <div class="chart-cell">
        {{ getAmsamChart()[0] || '' }}
      </div>

      <div class="chart-cell">
        {{ getAmsamChart()[1] || '' }}
      </div>

      <div class="chart-cell">
        {{ getAmsamChart()[2] || '' }}
      </div>

      <div class="chart-cell">
        {{ getAmsamChart()[3] || '' }}
      </div>

    </div>

    <!-- MIDDLE -->

    <div class="chart-row">

      <div class="chart-cell side-cell">
        {{ getAmsamChart()[4] || '' }}
      </div>

      <div class="chart-center">
        அம்சம்
      </div>

      <div class="chart-cell side-cell">
        {{ getAmsamChart()[5] || '' }}
      </div>

    </div>

    <!-- BOTTOM -->

    <div class="chart-row">

      <div class="chart-cell">
        {{ getAmsamChart()[6] || '' }}
      </div>

      <div class="chart-cell">
        {{ getAmsamChart()[7] || '' }}
      </div>

      <div class="chart-cell"></div>

      <div class="chart-cell"></div>

    </div>

  </div>

</div>
</div>
<div class="info-card">

  <h3>{{ txt('Partner Expectation', 'துணை எதிர்பார்ப்பு') }}</h3>

  <p>
    {{ v(profile.partner_expectation, profile.partner_expectation_ta) || '-' }}
  </p>

</div>

    </div>
     <div class="right-profile-side" *ngIf="activeTab === 'package'">

  <div class="tab-title">Package Details</div>

  <div class="info-card">

    <h3>{{ txt('Package Details', 'தொகுப்பு விவரங்கள்') }}</h3>

    <p>
      <strong>Package :</strong>
      {{ profile.package_name || '-' }}
    </p>

    <p>
      <strong>Payment Method :</strong>
      {{ profile.payment_mode || '-' }}
    </p>

    <p>
      <strong>Purchased Date :</strong>
      {{ dateText(profile.purchased_date) }}
    </p>

    <p>
      <strong>Expired Date :</strong>
      {{ dateText(profile.expired_date) }}
    </p>

    <p>
      <strong>Limits :</strong>
      {{ profile.limits || '-' }}
    </p>

    <p>
      <strong>Views :</strong>
      {{ profile.views_count || 0 }}
    </p>

  </div>

</div>
<div class="right-profile-side" *ngIf="activeTab === 'views'">

  <div class="tab-title">Profile View Details</div>

  <div class="info-card">
   <h3>This User Viewed Profiles</h3>

    <p>
      <strong>Total Views :</strong>
      {{ profileViewList.length }}
    </p>

    <div *ngIf="profileViewList.length === 0">
      No profile views found
    </div>

    <div class="viewer-card" *ngFor="let item of profileViewList">
      <img
        [src]="item.viewer?.profile_image_url || 'assets/default-avatar.png'"
        alt="Viewer">

      <div>
        <h4>{{ v(item.viewer?.full_name, item.viewer?.full_name_ta) }}</h4>
        <p><strong>Profile ID :</strong> {{ item.viewer?.profile_code || '-' }}</p>
        <p><strong>Mobile :</strong> {{ item.viewer?.mobile || '-' }}</p>
        <p><strong>City :</strong> {{ v(item.viewer?.city_text, item.viewer?.city_text_ta) }}</p>
        <p><strong>Viewed Date :</strong> {{ dateText(item.viewed_at) }}</p>
      </div>
    </div>

  </div>

</div>
</div>

<!-- <div class="info-card full-width-card">

  <h3>{{ txt('About Me', 'என்னை பற்றி') }}</h3>

  <p>
    {{ v(profile.about_me, profile.about_me_ta) || '-' }}
  </p>

</div> -->




  </div>

</div>

